  </div>
  </main>
  <footer class="footer black">
    <div class="container">
      <span class="footer__point">
        &#169; 
        <span class="footer__year"></span>
        - iparser-light
      </span>
      <span class="footer__point">
        Source code:
        <a href="https://github.com/SergeiAmpilov/parser-light.git">
          go github
        </a>
      </span>
      <span class="footer__point">
        Author:
        <a href="https://ampilovs.ru/">
          Sergei Ampilov
        </a>
      </span>
    </div>
  </footer>
  <script src="/assets/materialize/js/materialize.min.js"></script>
  <script src="/dist/index.js"></script>
</body>
</html>