<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/materialize/css/materialize.min.css">
  <title>Parsing-light App</title>
</head>
<body>
  <header>
    <div class="container">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/downdetector/render">Down Detector</a>
        </li>
          <li>
          <a href="/seoparser/render">Seo parser</a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <div class="container">
  
  
