<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/reset.css">
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="/dist/main.css">
  <title>Parsing-light App</title>
</head>
<body class="body grey darken-4  blue-text text-lighten-5">
  <header class="black">
    <div class="container">
      <ul class="header__nav">
        <li class="header__nav-item">
          <a href="/" class="waves-effect waves-light btn">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="/downdetector/render" class="waves-effect waves-light btn">Down Detector</a>
        </li>
        <li class="header__nav-item">
          <a href="/seoparser/render" class="waves-effect waves-light btn">Seo parser</a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <div class="container">
  
  
