<h1>Seoparser</h1>
<p>Сервис сбора данных о продвигаемых страницах и тегах на сайтах конкурентов.</p>

<form action="" method="post" class="" name="seoparserform">
  <h3>Запуск нового seo-парсера</h3>
  <div class="row">
    <div class="valign-wrapper">

      <div class="col s1">
        url:
      </div>
      
      <div class="col s8">
        <input type="text" name="url" class="form__input blue-text text-lighten-5">
      </div>

      <div class="col s3">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Запустить
        </button>
      </div>
    </div>
  </div>
</form>


{{#if list.length}}
<h3>Список запущенных процессов парсинга</h3>
  {{#each list}}
    <div class="card row grey darken-3">
        <div class="col s3">
          <p>id: <b>{{ id }}</b></p>
          <p>Дата запуска: <b>{{ date }}</b></p>
        </div>
        <div class="col s4">
          <p>url:<br><b>{{ url }}</b></p>
        </div>
        <div class="col">
          <a href="/seoparser/sitemaps/{{ id }}" class="waves-effect waves-light btn blue darken-4">
            go to sitemap list
          </a>
        </div>
    </div>
  {{/each}}
{{/if}}


